<div class="commentContainer" *ngFor="let comment of commentsList[postId]">
  <div class="commentBorder"></div>
  <div class="commentContent">
    <mat-card-header class="commentHeader">
      <mat-card-title class="commentTitle"
        >{{ comment.name }}
        <span class="btnReply"
          ><button mat-icon-button color="primary">
            <mat-icon>reply</mat-icon>
          </button>
        </span
        ></mat-card-title
      >
      <mat-card-subtitle class="commentSubtitle"
        >by: {{ comment.email }}</mat-card-subtitle
      >
    </mat-card-header>
    <mat-card-content class="commentBody">
      {{ comment.body }}
    </mat-card-content>
  </div>
  <!-- <mat-card-actions class="postFooter">
    <button mat-button (click)="toggleComments(post.id)">
      <strong>{{
        isComponentVisible[post.id] ? "Hide Comments" : "Show Comments"
      }}</strong>
    </button>
  </mat-card-actions>
   Pop up for comments
  <div class="popupCommentBox" *ngIf="isComponentVisible[post.id]">
    <app-comments></app-comments>
  </div> -->
</div>
