.usersViewCard{
    margin: 3rem 1.5rem 2rem 1.5rem;
    padding:1rem;

    .usersViewContainer{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
}