.usersViewCard{
    margin: 3rem 1rem 2rem 1rem;
    padding:1rem;

    .usersViewContainer{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .usersView{
        display: flex;
        flex-direction: row;
        align-items: center;
        button {
            margin-right: 0.5rem
        }
    }
    
}