<mat-card class="userProfileCard">
  <mat-card-header class="dataUserHeader">
    <mat-card-title class="cardTitle"><h3>Nome e Cognome</h3></mat-card-title>
    <mat-card-subtitle><p>email</p></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="dataUserContent">
    <p>gender</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
  </mat-card-content>
  <mat-card-actions>
    <ul class="dataUserActions">
      <li>
        <strong>3390</strong><span>Posts</span>
      </li>
      <li>
        <strong>718</strong><span>Comments</span>
      </li>
      <li>
        <strong>239</strong><span>Reply</span>
      </li>
    </ul>
  </mat-card-actions>
</mat-card>
