<app-header></app-header>
<div class="container">
    <h3>Add User</h3>
    <div>
        <form>
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Surname</mat-label>
                <input matInput>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Gender</mat-label>
                <mat-select>
                  <mat-option value="male">First option</mat-option>
                  <mat-option value="famale">Second option</mat-option>
                  <mat-option value="none">Third option</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput>
              </mat-form-field>
              
        </form>
    </div>
</div>
